:root{/*declarar variavel no css*/
    --red: #e50914;
    --black: #141414;
}
*{/*reset css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*cria uma caixa que ninguem pode utrapassar*/
}
body{
  background: var(--black);
  font-family: 'Times New Roman', Times, serif;
}
header .conteiner{
   display: flex; /*colocou tudo na mesma linha*/
   flex-direction: row; 
   align-items: center;
   justify-content: space-between;/*gerou um espaço entre o logo e o menu*/
}
header .logo{
    margin-left: 5px;
    color: var(--red);
    font-family: 'arial black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
